
pstudio-0.8.3/configs/Configuration.prof
pstudio-0.8.3/configs/Configuration.prof
*.prof
*.prof
ServerConfig.cfg
game_init.cfg
addons/amxmodx/configs/users.ini
addons/amxmodx/configs/users.ini
Amxbans/amxbans_setup.sql
addons/amxmodx/configs/sql.cfg
